body {
    margin: 0;
    padding: 0;
    
  }

  form{
      width: 458px;
      margin: auto;
      background: rgba(170, 166, 166, 0.486);
      padding: 10px 20px;
      box-sizing: border-box;
      margin-top:  80px;
      border-radius: 7px;
}

h1{
    text-align: center;
    font-size: 30px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

#button{
    background: rgb(14, 89, 201);
    font-size: 17px;
    color: beige;
}

#button:hover{
    cursor: pointer;
}
